<app-card [titleCard]="title">
    <mat-card-title></mat-card-title>
    <mat-card-content>
        <form [formGroup]="form">
            <div class="container-form">
                <mat-form-field class="relatorio-form-control">
                    <mat-label>Fornecedor</mat-label>
                    <input matInput formControlName="fornecedor" placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="relatorio-form-control">
                    <mat-label>Número do documento</mat-label>
                    <input matInput formControlName="numeroDocumento" placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="relatorio-form-control">
                    <mat-label>Valor</mat-label>
                    <input matInput formControlName="valor" placeholder="" value="">
                </mat-form-field>
                <mat-form-field class="relatorio-form-control">
                    <mat-label>Status</mat-label>
                    <input matInput formControlName="status" placeholder="" value="">
                </mat-form-field>
            </div>
            <div class="container-form">
                <mat-form-field class="relatorio-form-date-control">
                    <mat-label>Data Inicial: </mat-label>
                    <input matInput [matDatepicker]="dataInicial" formControlName="dataInicial">
                    <mat-hint>DD/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dataInicial"></mat-datepicker-toggle>
                    <mat-datepicker #dataInicial></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="relatorio-form-date-control">
                    <mat-label>Data Inicial: </mat-label>
                    <input matInput [matDatepicker]="dataFinal" formControlName="dataFinal">
                    <mat-hint>DD/MM/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="dataFinal"></mat-datepicker-toggle>
                    <mat-datepicker #dataFinal></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="my-button">
                <button (click)="filtrarContas()" mat-raised-button color="primary">Buscar</button>
                <button (click)="goBack()" mat-raised-button color="warn">Voltar</button>
            </div>
        </form>
    </mat-card-content>
</app-card>