.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-control {
    width: 100%;
}

.group-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.my-button-left {
    margin-right: 20px;
}

.my-button-right {
    margin-left: 20px;
}