.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.form-control {
    width: 100%;
}

.my-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}