.container__header {
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    border-image:  linear-gradient(0.25turn, #16F4D0, #153B50, #CC998D);
    border-image-slice: 1;
    height: 70px;
    color: #153B50;

    h1 {
        margin: 17px 0 1px;
    }
}