.card-container {
    min-width: 600px;
    min-height: 300px;
    box-shadow: 2px 4px 8px -2px #153B50;
    margin-top: 15px;
    padding: 5px;
    margin-bottom: 70px;

    &__header {
        display: flex;
        align-items: center;
        text-align: left;
        margin-left: 15px;

        h1 {
            color: #153B50;
            margin: 5px 0 2px 15px;
        }
    }

    &__body {
        padding: 15px;
    }

    .circle {
        display: block;
        border-radius: 50%;
        height: 11px;
        width: 11px;
        margin: 0;
        background: radial-gradient(circle at 10px 10px, #CC998D, #153B50);
    }
}
