.navbar_custom {
    background-color: #153B50;
    padding: 30px 10px 2px;
    width: 170px;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    

    &__options {
        margin-bottom: 30px;

        a {
            font-weight: bold;
            text-decoration: none;
            color: #f5f5f5;

            &:hover {
                transition: 0.2s;
                color: #CC998D;
            }
        }
    }
}