.container {
    display: flex;
    justify-content: conter;
    align-items: center;
    flex-direction: column;
    min-width: calc(100vw - 260px);
    min-height: calc(100vh - 100px);
    text-align: center;

    form {
        text-align: left;
    }

    .button-bar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        padding: 32px;
        margin: 64px;
    }
}