<app-card [titleCard]="title">
    <form [formGroup]="form">
        <div class="container-form">
            <div>
                <mat-form-field class="form-control">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="name" id="nome" value="">
                </mat-form-field>
                <mat-form-field class="form-control">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" id="email" value="">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-control">
                    <mat-label>CNPJ</mat-label>
                    <input matInput type="text" formControlName="cnpj" id="cnpj" value="">
                </mat-form-field>
                <mat-form-field class="form-control">
                    <mat-label>Razão Social</mat-label>
                    <input matInput type="text" formControlName="razaoSocial" id="razaoSocial" value="">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="form-control">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password" id="senha" value="">
                </mat-form-field>
                <mat-form-field class="form-control">
                    <mat-label>Confirmar Senha</mat-label>
                    <input matInput type="password" formControlName="confirm_password" id="confirm_password" value="">
                </mat-form-field>
            </div>
        </div>
        <div class="group-button">
            <button (click)="salvar()" class="my-button-left" mat-raised-button color="primary">Cadastrar</button>
            <a href="/login" class="my-button-right" mat-raised-button color="warn">Cancelar</a>
        </div>
    </form>
</app-card>