.container__list {
    table {
        border-collapse: collapse;
        border: 1px solid #ddd;
        width: 100%;

        th, td {
            padding: 15px;
            border: 1px solid #ddd;
        }
    }
}