<div class="container__list">
    <!-- <div>
        <button (click)="gerarPdf()" mat-raised-button>Emitir PDF</button>
    </div> -->
    <div *ngIf="choiceTable == 0">
        <table class="mat-elevation-z8" id="content">
            <thead>
                <th>Fornecedor</th>
                <th>Valor</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Tipo</th>
                <th>Número do Documento</th>
                <th>Data de Pagamento</th>
                <th>Data de Vencimento</th>
            </thead>
            <tbody>
                <tr *ngFor="let conta of listContas">
                    <td>{{ conta?.fornecedor }}</td>
                    <td>R${{ conta?.valor }}</td>
                    <td>{{ conta?.descricao }}</td>
                    <td [ngClass]="conta?.status === '1' ? 'pago' : 'nao-pago'">{{ getStatusLabel(conta?.status) }}</td>
                    <td>{{ getTipoLabel(conta?.tipo) }}</td>
                    <td>{{ conta?.numeroDocumento }}</td>
                    <td>{{ conta?.dataPagamento | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ conta?.dataVencimento | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button [ngClass]="conta?.status === '1' ? 'conta-paga' : 'conta-nao-paga'" (click)="pagar(conta.id)" mat-fab color="primary">
                            <mat-icon>attach_money</mat-icon>
                        </button>
                        <button (click)="goToFormConta(conta.id)" mat-fab color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                         <button class="button-delete" (click)="removerConta(conta.id)" mat-fab color="primary">
                            <mat-icon>delete</mat-icon>                    
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="choiceTable == 2">
        <table class="mat-elevation-z8" id="content">
            <thead>
                <th>Data Lançamento</th>
                <th>Recebimento Total</th>
                <th>Pagamento Total</th>
                <th>Saldo do dia</th>
            </thead>
            <tbody>
                <tr *ngFor="let lancamento of listLancamentos">
                    <td>{{ lancamento?.created_at }}</td>
                    <td>{{ lancamento?.recebimento }}</td>
                    <td>{{ lancamento?.pagamento }}</td>
                    <td></td>
                    <td>
                        <button (click)="goToFormLancamento(lancamento.id)" mat-fab color="primary">
                            <mat-icon>edit</mat-icon>
                        </button>
                         <button class="button-delete" (click)="removerLancamento(lancamento.id)" mat-fab color="primary">
                            <mat-icon>delete</mat-icon>                    
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
