h1, h2, h3, h4, p, label, a, span, th, td {
    font-family: 'Verdana';
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.mt-0 {
   margin-top: 0; 
}

.mt-1 {
    margin-top: 5px; 
}

.mt-2 {
    margin-top: 10px; 
}

.mt-3 {
    margin-top: 15px; 
}

.mt-4 {
    margin-top: 20px; 
}

.mt-5 {
    margin-top: 25px; 
}

.mb-0 {
    margin-bottom: 0; 
}

.mb-1 {
     margin-bottom: 5px; 
}
 
.mb-2 {
    margin-bottom: 10px; 
}

.mb-3 {
    margin-bottom: 15px; 
}

.mb-4 {
    margin-bottom: 20px; 
}

.mb-5 {
    margin-bottom: 25px; 
}

.btn {
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    box-shadow: 0px 2px 5px #979797;
    height: 40px;
    cursor: pointer;

    &:hover {
        opacity: .6;
    }
}

.primary {
    border: none;
    color: #fff;
    background-color: #153B50;
}

.secondary {

}